<div class="list">
  @if (companies$ | async; as companies) {
    @if (companies.length > 0) {
      @for (company of companies; track company.id) {
        <div class="list-item">
          <table class="table">
            <tr>
              <th class="table-header">Id</th>
              <td class="table-data">{{ company.id }}</td>
            </tr>
            <tr>
              <th class="table-header">Company name</th>
              <td class="table-data">{{ company.companyName }}</td>
            </tr>
            <tr>
              <th class="table-header">City</th>
              <td class="table-data">{{ company.city }}</td>
            </tr>
            <tr>
              <th class="table-header">Country</th>
              <td class="table-data">{{ company.country }}</td>
            </tr>
            <tr>
              <th class="table-header">Include consent clause</th>
              <td class="table-data">{{ company.includeConsentClause }}</td>
            </tr>
            <tr>
              <th class="table-header">Custom consent clause</th>
              <td class="table-data">{{ company.customConsentClause }}</td>
            </tr>
            <tr>
              <th class="table-header">Recruitment status</th>
              <td class="table-data">{{ company.recruitmentStatus }}</td>
            </tr>
            <tr>
              <th class="table-header">Actions</th>
              <td class="table-data">
                <button (click)="onSelect(company)">Select</button>
                <button (click)="onUpdate(company)">Update</button>
                <button (click)="onDelete(company)">Delete</button>
              </td>
            </tr>
          </table>
        </div>
      }
    } @else {
      <p class="list-empty">No companies found.</p>
    }
  } @else {
    <p class="list-empty">Failed to load companies. An internal error occurred.</p>
  }
</div>
