<div class="list">
  @if (users$ | async; as users) {
    @if (users.length > 0) {
      @for (user of users; track user.id) {
        <div class="list-item">
          <table class="table">
            <tr>
              <th class="table-header">Id</th>
              <td class="table-data">{{ user.id }}</td>
            </tr>
            <tr>
              <th class="table-header">Email</th>
              <td class="table-data">{{ user.email }}</td>
            </tr>
            <tr>
              <th class="table-header">First name</th>
              <td class="table-data">{{ user.firstName }}</td>
            </tr>
            <tr>
              <th class="table-header">Last name</th>
              <td class="table-data">{{ user.lastName }}</td>
            </tr>
            <tr>
              <th class="table-header">City</th>
              <td class="table-data">{{ user.city }}</td>
            </tr>
            <tr>
              <th class="table-header">Country</th>
              <td class="table-data">{{ user.country }}</td>
            </tr>
            <tr>
              <th class="table-header">Phone number</th>
              <td class="table-data">{{ user.phoneNumber }}</td>
            </tr>
            <tr>
              <th class="table-header">Actions</th>
              <td class="table-data">
                <button (click)="onSelect(user)">Select</button>
                <button (click)="onUpdate(user)">Update</button>
                <button (click)="onDelete(user)">Delete</button>
              </td>
            </tr>
          </table>
        </div>
      }
    } @else {
      <p class="list-empty">No users found.</p>
    }
  } @else {
    <p class="list-empty">Failed to load users. An internal error occurred.</p>
  }
</div>
