<div class="list">
  <button (click)="onClick()">Refresh</button>

  @if (users.length > 0) {
  @for (user of users; track user.id) {
  <div class="list-item">
    <p>Id: {{ user.id }}</p>
    <p>Email: {{ user.email }}</p>
    <p>First name: {{ user.firstName }}</p>
    <p>Last name: {{ user.lastName }}</p>
    <p>City: {{ user.city }}</p>
    <p>Country: {{ user.country }}</p>
    <p>Phone number: {{ user.phoneNumber }}</p>
    <button (click)="selectUser(user.id)">Select</button>
    <button (click)="deleteUser(user.id)">Delete</button>
  </div>
  }
  } @else {
  <p class="no-user-found-message">No users found.</p>
  }
</div>
