.list {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
}

.list-item {
  border: 1px solid black;
  margin: 0.5rem;
  padding: 0.5rem;
}

.no-user-found-message {
  border: 1px solid black;
  margin: 0.5rem;
  padding: 0.5rem;
}
