<form class="form" [formGroup]="updateResumeForm" (ngSubmit)="onSubmit()">
  <h3 class="form-title">Update resume</h3>
  <div class="form-item">
    <label class="form-label" for="name">Name</label>
    <input id="name" class="form-input-text" type="text" formControlName="name" />
  </div>
  <div class="form-item">
    <label class="form-label" for="jobTitle">Job title</label>
    <input id="jobTitle" class="form-input-text" type="text" formControlName="jobTitle" />
  </div>
  <div class="form-item">
    <label class="form-label" for="description">Description</label>
    <input id="description" class="form-input-text" type="text" formControlName="description" />
  </div>
  <div class="form-section" formArrayName="socialMedias">
    <h4 class="form-title">Social medias</h4>
    @for (control of getSocialMedias().controls; track control; let i = $index) {
    <div class="form-section" [formGroupName]="i">
      <div class="form-item">
        <label class="form-label" for="label">Id</label>
        <input id="label" class="form-input-text" type="text" formControlName="id" />
      </div>
      <div class="form-item">
        <label class="form-label" for="label">Label</label>
        <input id="label" class="form-input-text" type="text" formControlName="label" />
      </div>
      <div class="form-item">
        <label class="form-label" for="link">Link</label>
        <input id="link" class="form-input-text" type="text" formControlName="link" />
      </div>
      <button type="button" (click)="moveSocialMediaUp(i)" [disabled]="i === 0">Up</button>
      <button type="button" (click)="moveSodialMediaDown(i)" [disabled]="i === getSocialMedias().length - 1">Down</button>
      <button type="button" (click)="removeSocialMedia(i)">Delete</button>
    </div>
    }
    <button type="button" (click)="addSocialMedia()">Add</button>
  </div>
  <div class="form-section" formArrayName="educations">
    <h4 class="form-title">Educations</h4>
    @for (control of getEducations().controls; track control; let i = $index) {
    <div class="form-section" [formGroupName]="i">
      <div class="form-item">
        <label class="form-label" for="institutionName">Institution name</label>
        <input id="institutionName" class="form-input-text" type="text" formControlName="institutionName" />
      </div>
      <div class="form-item">
        <label class="form-label" for="fieldOfStudy">Field of study</label>
        <input id="fieldOfStudy" class="form-input-text" type="text" formControlName="fieldOfStudy" />
      </div>
      <div class="form-item">
        <label class="form-label" for="degree">Degree</label>
        <input id="degree" class="form-input-text" type="text" formControlName="degree" />
      </div>
      <div class="form-item">
        <label class="form-label" for="graduationYear">GraduationYear</label>
        <input id="graduationYear" class="form-input-text" type="text" formControlName="graduationYear" />
      </div>
      <button type="button" (click)="moveEducationUp(i)" [disabled]="i === 0">Up</button>
      <button type="button" (click)="moveEducationDown(i)" [disabled]="i === getEducations().length - 1">Down</button>
      <button type="button" (click)="removeEducation(i)">Delete</button>
    </div>
    }
    <button type="button" (click)="addEducation()">Add</button>
  </div>
  <div class="form-section" formArrayName="experiences">
    <h4 class="form-title">Experiences</h4>
    @for (control of getExperience().controls; track control; let i = $index) {
    <div class="form-section" [formGroupName]="i">
      <div class="form-item">
        <label class="form-label">Company name</label>
        <input class="form-input-text" type="text" formControlName="companyName" />
      </div>
      <div class="form-item">
        <label class="form-label">Job title</label>
        <input class="form-input-text" type="text" formControlName="jobTitle" />
      </div>
      <div class="form-item">
        <label class="form-label">Start date</label>
        <input class="form-input-text" type="date" formControlName="startDate" />
      </div>
      <div class="form-item">
        <label class="form-label">End date</label>
        <input class="form-input-text" type="date" formControlName="endDate" />
      </div>
      <div class="form-section" formArrayName="experienceDescriptions">
        <h5 class="form-title">Experience description</h5>
        @for(control of getExperienceDescription(i).controls; track control; let j = $index) {
        <div class="form-section" [formGroupName]="j">
          <div class="form-item">
            <label class="form-label">Description</label>
            <input class="form-input-text" type="text" formControlName="description" />
          </div>
          <button type="button" (click)="moveExperienceDescriptionUp(i,j)" [disabled]="j === 0">Up</button>
          <button type="button" (click)="moveExperienceDescriptionDown(i,j)" [disabled]="j === getExperienceDescription(i).length - 1">Down</button>
          <button type="button" (click)="removeExperienceDescription(i,j)">Delete</button>
        </div>
        }
        <button type="button" (click)="addExperienceDescription(i)">Add description</button>
      </div>
      <button type="button" (click)="moveExperienceUp(i)" [disabled]="i === 0">Up</button>
      <button type="button" (click)="moveExperienceDown(i)" [disabled]="i === getExperience().length - 1">Down</button>
      <button type="button" (click)="removeExperience(i)">Delete</button>
    </div>
    }
    <button type="button" (click)="addExperience()">Add experience</button>
  </div>
  <div class="form-section" formArrayName="skillGroups">
    <h4 class="form-title">Skill group</h4>
    @for (control of getSkillGroup().controls; track control; let i = $index) {
    <div class="form-section" [formGroupName]="i">
      <div class="form-item">
        <label class="form-label">Name</label>
        <input class="form-input-text" type="text" formControlName="name" />
      </div>
      <div class="form-section" formArrayName="skillElements">
        <h4 class="form-title">Skill element</h4>
        @for(control of getSkillElement(i).controls; track control; let j = $index) {
        <div class="form-section" [formGroupName]="j">
          <div class="form-item">
            <label class="form-label">Name</label>
            <input class="form-input-text" type="text" formControlName="name" />
          </div>
          <button type="button" (click)="moveSkillElementUp(i,j)" [disabled]="j === 0">Up</button>
          <button type="button" (click)="moveSkillElementDown(i,j)" [disabled]="j === getSkillElement(i).length - 1">Down</button>
          <button type="button" (click)="removeSkillElement(i,j)">Delete</button>
        </div>
        }
        <button type="button" (click)="addSkillElement(i)">Add skill element</button>
      </div>
      <button type="button" (click)="moveSkillGroupUp(i)" [disabled]="i === 0">Up</button>
      <button type="button" (click)="moveSkillGroupDown(i)" [disabled]="i === getSkillGroup().length - 1">Down</button>
      <button type="button" (click)="removeSkillGroup(i)">Delete</button>
    </div>
    }
    <button type="button" (click)="addSkillGroup()">Add skill group</button>
  </div>
  <input type="submit" [disabled]="!updateResumeForm.valid" value="Update" />
</form>
