.view {
  margin: 1rem;
}

.company-form {
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 1rem;
}

.company-form-header {
  margin-bottom: 0.5rem;
}

.company-form-item {
  margin-bottom: 0.25rem;
}

.company-form-item:last-child {
  margin-bottom: 0;
}

.company-form-form-label {
  display: inline-block;
  width: 200px;
}

.company-form-input-text {
  width: calc(100% - 200px);
}

@media screen and (max-width: 640px) {
  .company-form-form-label {
    display: block;
    width: 100%;
  }

  .company-form-input-text {
    width: 100%;
  }
}

.company-list {
  border: 1px solid black;
}

.company-list-item {
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
}

.company-list-item-line {
  margin-bottom: 0.5rem;
}

.company-not-found {
  margin: 1rem;
}
