<!--<div class="root">
  <div class="selected-entity">
    @if (user) {
      <p>User: {{ user.firstName }} {{ user.lastName }}</p>
    } @else {
      <p>User was not selected!</p>
    }
  </div>
  <div class="selected-entity">
    @if (company) {
      <p>Company: {{ company.companyName }}</p>
    } @else {
      <p>Company was not selected!</p>
    }
  </div>
  <div class="selected-entity">
    @if (resume) {
      <p>Resume: {{ resume.name }}</p>
    } @else {
      <p>Resume was not selected!</p>
    }
  </div>
  <app-nav-component></app-nav-component>
  <div class="root-content">
    <router-outlet></router-outlet>
  </div>
</div>-->
