.container {
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: 0.5rem;
}

.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
