<div class="form">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email: </label>
      <input id="email" type="text" formControlName="email" />
    </div>
    <div>
      <label for="firstName">First name: </label>
      <input id="firstName" type="text" formControlName="firstName" />
    </div>
    <div>
      <label for="lastName">Last name: </label>
      <input id="lastName" type="text" formControlName="lastName" />
    </div>
    <div>
      <label for="city">City: </label>
      <input id="city" type="text" formControlName="city" />
    </div>
    <div>
      <label for="country">Country: </label>
      <input id="country" type="text" formControlName="country" />
    </div>
    <div>
      <label for="phoneNumber">Phone number: </label>
      <input id="phoneNumber" type="text" formControlName="phoneNumber" />
    </div>
    <button type="submit" [disabled]="!userForm.valid">Create</button>
  </form>
</div>
