<div class="view">
  <form class="user-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <h3 class="user-form-header">Update user</h3>
    <div class="user-form-item">
      <label class="user-form-form-label" for="email">Email</label>
      <input id="email" class="user-form-input-text" type="text" formControlName="email" />
    </div>
    <div class="user-form-item">
      <label class="user-form-form-label" for="firstName">First name</label>
      <input id="firstName" class="user-form-input-text" type="text" formControlName="firstName" />
    </div>
    <div class="user-form-item">
      <label class="user-form-form-label" for="lastName">Last name</label>
      <input id="lastName" class="user-form-input-text" type="text" formControlName="lastName" />
    </div>
    <div class="user-form-item">
      <label class="user-form-form-label" for="city">City</label>
      <input id="city" class="user-form-input-text" type="text" formControlName="city" />
    </div>
    <div class="user-form-item">
      <label class="user-form-form-label" for="country">Country</label>
      <input id="country" class="user-form-input-text" type="text" formControlName="country" />
    </div>
    <div class="user-form-item">
      <label class="user-form-form-label" for="phoneNumber">Phone number</label>
      <input id="phoneNumber" class="user-form-input-text" type="text" formControlName="phoneNumber" />
    </div>
    <input type="submit" [disabled]="!userForm.valid" value="Update" />
  </form>
</div>
